<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple HTML HomePage</title>
  <link rel="stylesheet"  type="text/css" href="../static/homestyle.css">
</head>

<body>
  <header class="header">
    <a href="#" class="logo">ONLINE COMPLAINTS MANAGEMENT SYSTEM</a>
    <nav class="nav-items">
      <a href="/login" >User Login</a>
      <a href="/adminLogin">Admin Login</a>
      <a href="/agentLogin">Agent Login</a>
      <a href="#">About</a>
      <a href="#">Contact</a>

    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>OUR TEAM IS HELP FOR YOU</h1>
      <p>Street lights - Water pipes Leakages - Rainwater drainage - Road damages</p>
    </div>
  </main>
</body>

</html>