body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://img.freepik.com/free-vector/office-work-concept-illustration_114360-9187.jpg");
  }

  .form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  .form-container h2 {
    text-align: center;
  }

  .form-container .form-group {
    margin-bottom: 15px;
  }

  .form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-container input[type="text"],
  .form-container input[type="password"],
  .form-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-container .btn {
    width: 100%;
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-container .btn:hover {
    background-color: #45a049;
  }

  .form-container .login-link {
    text-align: center;
  }

  .form-container .login-link a {
    color: #0652DD;
  }
  .form-container .registration-link {
    text-align: center;
    margin-top: 15px;
  }
  .form-container .registration-link a {
    color: #0652DD;
  }